.subscribe {
  background-color: #eef0f2;
  padding: 60px 48px 60px 60px;
  width: 62.5%;
  margin: auto;
  justify-content: space-between;
  margin-bottom: 20px;
  .bld-txt {
    letter-spacing: 4px;
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    padding: 12px;
  }
  .subscribe-form {
    width: 50%;
    justify-content: flex-end;
    align-items: baseline;
    input {
      border: none;
      border-bottom: 1px solid #303030;
      margin-right: 20px;
      width: 100%;
      padding: 12px;
    }
    button {
      border: none;
      background-color: #404040;
      color: #fff;
      padding: 12px;
      width: 180px;
      letter-spacing: 3px;
    }
  }
}
