
//.header
.header {
    position: relative;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #FFFFFF;
    height: 96px;
    padding: 0 30px;
    .lefts {
        .line {
            width: 1px;
            height: 60px;
            background-color: #ececec;
            margin-right: 5px;
        }
        .btn-logo {
            &.company-logo {
                img {
                    width: 96px;
                    height: auto;
                    margin-right: 5px;
                }
            }
            &.dig-logo {
                img {
                    width: 256px;
                    height: auto;
                }
            }
        }
    }
    .header-nav {
        margin-left: 85px;
        li {
            margin-right: 10px;
            list-style: none;
            .tab-items {
                padding: 12px 12px;
                width: 56px;
                line-height: 24px;
                color: #404040;
                font-size: 18px;
                font-weight: 500;
                overflow: hidden;
                position: relative;
                text-decoration: none;
                letter-spacing: 4px;
                &.current {
                    color: #0289cf;
                }
            }
        }
    }
    .social-share-icons {
        position: absolute;
        right: 80px;
        li {
            margin-right: 10px;
            list-style: none;
            width: 40px;
            img {
                width: 18px;
            }
        }
    }
}



/* fix layout issue when smaller than 992px width */
@media (max-width: 1380px) {
    .header {
        .header-nav {
            margin-left: 40px;
            li {
                margin-right: 12px;
            }
        }
    } 
}